/bin/
/ProjetoAbril/saidas/Video/
/ProjetoAbril/saidas/ExtentReports/
/ProjetoAbril/saidas/PDFReport/
/ProjetoAbril/Properties
/ProjetoAbril/utilitarios/FirefoxPortable/
/ProjetoAbril/utilitarios/PhantomJS/
/ProjetoAbril/utilitarios/VLCPortable/
